<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyu.login.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.lingyu.login.model.UserInfo">
    <id column="infoid" jdbcType="INTEGER" property="infoid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="marry" jdbcType="VARCHAR" property="marry" />
    <result column="workArea" jdbcType="VARCHAR" property="workArea" />
    <result column="hasChild" jdbcType="VARCHAR" property="hasChild" />
    <result column="wantChild" jdbcType="VARCHAR" property="wantChild" />
    <result column="isSmoke" jdbcType="VARCHAR" property="isSmoke" />
    <result column="isDrink" jdbcType="VARCHAR" property="isDrink" />
  </resultMap>
  <sql id="Base_Column_List">
    infoid, uid, age, sex, address, height, income, education, weight, birthday, marry, 
    workArea, hasChild, wantChild, isSmoke, isDrink
  </sql>
  <insert id="insertUserInfo" >
    insert into user_info (uid,
      sex)
    values (#{uid},#{sex})
  </insert>
  <select id="getUserInfoByUid"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where uid = #{user}
  </select>
  <insert id="insertUserInfoById" parameterType="com.lingyu.login.model.UserInfo">
    insert into user_info ( uid, age,
      address, height,
      income, education, weight,
      birthday, marry, workArea,
      hasChild, wantChild, isSmoke,
      isDrink)
    values ( #{uid,jdbcType=INTEGER}, #{age,jdbcType=TINYINT},
      #{address,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR},
      #{income,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR},
      #{birthday,jdbcType=DATE}, #{marry,jdbcType=VARCHAR}, #{workArea,jdbcType=VARCHAR},
      #{hasChild,jdbcType=VARCHAR}, #{wantChild,jdbcType=VARCHAR}, #{isSmoke,jdbcType=VARCHAR},
      #{isDrink,jdbcType=VARCHAR})
  </insert>
  <update id="modifyUserInfo" parameterType="com.lingyu.login.model.UserInfo">
    update user_info
    set
      age = #{age,jdbcType=TINYINT},
      address = #{address,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      marry = #{marry,jdbcType=VARCHAR},
      workArea = #{workArea,jdbcType=VARCHAR},
      hasChild = #{hasChild,jdbcType=VARCHAR},
      wantChild = #{wantChild,jdbcType=VARCHAR},
      isSmoke = #{isSmoke,jdbcType=VARCHAR},
      isDrink = #{isDrink,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>





  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user-info
    where infoid = #{infoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user-info
    where infoid = #{infoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lingyu.login.model.UserInfo">
    insert into user-info (infoid, uid, age,
      sex, address, height,
      income, education, weight,
      birthday, marry, workArea,
      hasChild, wantChild, isSmoke,
      isDrink)
    values (#{infoid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{age,jdbcType=TINYINT},
      #{sex,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR},
      #{income,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR},
      #{birthday,jdbcType=DATE}, #{marry,jdbcType=VARCHAR}, #{workArea,jdbcType=VARCHAR},
      #{hasChild,jdbcType=VARCHAR}, #{wantChild,jdbcType=VARCHAR}, #{isSmoke,jdbcType=VARCHAR},
      #{isDrink,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lingyu.login.model.UserInfo">
    insert into user-info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoid != null">
        infoid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="marry != null">
        marry,
      </if>
      <if test="workArea != null">
        workArea,
      </if>
      <if test="hasChild != null">
        hasChild,
      </if>
      <if test="wantChild != null">
        wantChild,
      </if>
      <if test="isSmoke != null">
        isSmoke,
      </if>
      <if test="isDrink != null">
        isDrink,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoid != null">
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="marry != null">
        #{marry,jdbcType=VARCHAR},
      </if>
      <if test="workArea != null">
        #{workArea,jdbcType=VARCHAR},
      </if>
      <if test="hasChild != null">
        #{hasChild,jdbcType=VARCHAR},
      </if>
      <if test="wantChild != null">
        #{wantChild,jdbcType=VARCHAR},
      </if>
      <if test="isSmoke != null">
        #{isSmoke,jdbcType=VARCHAR},
      </if>
      <if test="isDrink != null">
        #{isDrink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lingyu.login.model.UserInfo">
    update user-info
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="marry != null">
        marry = #{marry,jdbcType=VARCHAR},
      </if>
      <if test="workArea != null">
        workArea = #{workArea,jdbcType=VARCHAR},
      </if>
      <if test="hasChild != null">
        hasChild = #{hasChild,jdbcType=VARCHAR},
      </if>
      <if test="wantChild != null">
        wantChild = #{wantChild,jdbcType=VARCHAR},
      </if>
      <if test="isSmoke != null">
        isSmoke = #{isSmoke,jdbcType=VARCHAR},
      </if>
      <if test="isDrink != null">
        isDrink = #{isDrink,jdbcType=VARCHAR},
      </if>
    </set>
    where infoid = #{infoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lingyu.login.model.UserInfo">
    update user-info
    set uid = #{uid,jdbcType=INTEGER},
      age = #{age,jdbcType=TINYINT},
      sex = #{sex,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      marry = #{marry,jdbcType=VARCHAR},
      workArea = #{workArea,jdbcType=VARCHAR},
      hasChild = #{hasChild,jdbcType=VARCHAR},
      wantChild = #{wantChild,jdbcType=VARCHAR},
      isSmoke = #{isSmoke,jdbcType=VARCHAR},
      isDrink = #{isDrink,jdbcType=VARCHAR}
    where infoid = #{infoid,jdbcType=INTEGER}
  </update>
</mapper>