<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyu.login.mapper.UserHobbyMapper">
  <resultMap id="BaseResultMap" type="com.lingyu.login.model.UserHobby">
    <id column="hid" jdbcType="INTEGER" property="hid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="hobby" jdbcType="VARCHAR" property="hobby" />
  </resultMap>
  <sql id="Base_Column_List">
    hid, uid, hobby
  </sql>


  <select id="getHobbyByUid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user_hobby
    where uid = #{user}
  </select>










  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user-hobby
    where hid = #{hid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user-hobby
    where hid = #{hid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lingyu.login.model.UserHobby">
    insert into user-hobby (hid, uid, hobby
      )
    values (#{hid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{hobby,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lingyu.login.model.UserHobby">
    insert into user-hobby
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        hid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="hobby != null">
        hobby,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="hobby != null">
        #{hobby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lingyu.login.model.UserHobby">
    update user-hobby
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="hobby != null">
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
    </set>
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lingyu.login.model.UserHobby">
    update user-hobby
    set uid = #{uid,jdbcType=INTEGER},
      hobby = #{hobby,jdbcType=VARCHAR}
    where hid = #{hid,jdbcType=INTEGER}
  </update>
</mapper>